// Header

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.hvh {
  height: 100vh;
}

.Header,
.Main,
.Footer {
  background-color: #313131;
}

.Main {
  height: 100%;
}
.title {
  background-color: #4dad5b;
  font-family: "Pokemon Solid", sans-serif;
  color: red;
  width: 100%;
  height: 80px;
  span {
    color: black;
  }
}